<style>
    body {
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
</style> 
<img class="imagine" src='~/lib/imagine.jpg'>  
<a class="btn eu14" href="/Bookmarks/Index">Vizitează bookmark-urile!</a>